body {
    background-color: #272727;
    color: #ffffff;
}

nav {
    background-color: #000000;
    border-color: #ffffff;
}

nav ul li a {
    color: #ffffff;
}

nav ul li a:hover {
    color: #007acc;
}

table,
th,
td {
    background-color: #000000;
    color: #ffffff;
    border-color: rgb(134, 134, 134);
}

th {
    background-color: #424242;
}